[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "==6.0.0"
click = "==7.0"
flask = "==1.0.3"
flask-cors = "==3.0.10"
flask-restful = "==0.3.7"
flask-sqlalchemy = "==2.4.0"
itsdangerous = "==1.1.0"
jinja2 = "==2.10.1"
markupsafe = "==1.1.1"
pytz = "==2019.1"
six = "==1.12.0"
sqlalchemy = "==1.4.40"
werkzeug = "==0.15.5"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
